
img { 
    width: 100%;
    height: auto;
}

#currentWord { 
    letter-spacing: 5px;
}

body {
    background-color: #F5F1ED ;
}

.jumbotron { 
    background-color: #70798C;
    font-family: 'Gloria Hallelujah', cursive;
}